.content {
  background-color: black;
  padding: 50px 0;
}

.content__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.content__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 400px;
}

.content__item:nth-of-type(even) {
  flex-direction: row-reverse;
}

@media screen and (max-width: 660px) {
  .content__item,
  .content__item:nth-of-type(even) {
    flex-direction: column;
    justify-content: flex-start;
    height: 350px;
  }
}

.content__image-container {
  width: 400px;
  height: 400px;
}

@media screen and (max-width: 660px) {
  .content__image-container {
    width: 300px;
    height: 300px;
  }
}

.content__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content__text {
  padding: 2px 20px;
  text-transform: capitalize;
  width: 25%;
}

@media screen and (max-width: 660px) {
  .content__text {
    padding: 10px 20px;
    width: 100%;
    text-align: center;
  }
}

.content > .text {
  text-align: center;
}

.content > .text {
  max-width: 90%;
}

.text > .link {
  color: #11558b;
}