header {
  position: relative;
  height: 100px;
  border-bottom: 1px solid #3c3c3c;
  border-top: 1px solid #3c3c3c;
  z-index: 1;
}

@media screen and (max-width: 1025px) {
  header {
    height: 60px;
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 316px;
  height: 101px;
  border: 1px solid #3c3c3c;
  background-color: transparent;
  padding: 0;
}

@media screen and (max-width: 1025px) {
  .header__logo {
    width: 300px;
    height: 60px;
  }
}

@media screen and (max-width: 500px) {
  .header__logo {
    width: 275px;
    height: 60px;
  }
}

.header__logo-container {
  width: 102%;
  height: 103%;
  padding: 20px 0 0 30px;
  border: 10px solid transparent;
  border-image: url('../../images/border.png') round;
  border-image-slice: 20;
}

@media screen and (max-width: 1025px) {
  .header__logo-container {
    padding: 0px 0 0 9px;
    border-image-outset: 2px;
  }
}

@media screen and (max-width: 500px) {
  .header__logo-container {
    padding: 0;
    border-image-outset: 0;
  }
}

.header__menu-button {
  display: none;
  background-color: transparent;
  border: none;
}

@media screen and (max-width: 1100px) {
  .header__menu-button {
    display: block;
  }
}
